html {
    box-sizing: border-box
}
html, body {
    font-family: Verdana,sans-serif;
    margin: 0;
}
*,*:before,*:after {
    box-sizing: inherit;
}

#background-img {
    position: fixed;
    top: inherit;
    width: 100%;
    z-index: -1;
}
header {
    background-color: #2e4363;
    position: fixed;
    top: -10px;
    width: 100%;
    line-height: 1.5;
    font-size: 15px;
    text-decoration: none;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 
    0 2px 10px 0 rgba(0,0,0,0.12);
}

h1, nav {
    z-index: 1;
}

h1  {
    float: left;
    color: aliceblue;
    padding-left: 20px;
}
nav {
    padding: 20px;
    float:right;
    color: azure;
}
a   {
    text-decoration: none;
    cursor: pointer;
}

ul  {
    list-style-type: none;
}
li  {
    color: aliceblue;
    display: inline;
    padding-right: 50px;
}

main {
    width: 70%;
    position: absolute;
    top: 98%;
    left: 40%;
    margin-top: -100px;
    z-index: -1;
    margin-left: -535px;
    background-color: white;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 
    0 2px 10px 0 rgba(0,0,0,0.12);
}

img {
    max-width: -webkit-fill-available;
}

footer {
    position: fixed;
    color: white;
    bottom: 0%;
    height: 4%;
    text-align: center;
    width: -webkit-fill-available;
    background-color: black;
}
