html {
    box-sizing: border-box
}
html, body {
    font-family: Verdana,sans-serif;
    margin: 0;
}
*,*:before,*:after {
    box-sizing: inherit;
}

#background-img {
    position: fixed;
    top: inherit;
    width: 100%;
    z-index: -1;
}
#float-progress{
    position: fixed;
    width: fit-content;
    color: white;
    top: 20%;
    left: 60%;
    z-index: -1;
}
header {
    background-color: #2e4363;
    position: fixed;
    top: -10px;
    width: 100%;
    line-height: 1.5;
    font-size: 15px;
    text-decoration: none;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 
    0 2px 10px 0 rgba(0,0,0,0.12);
}

    h1, nav {
        z-index: 1;
    }

    h1  {
        float: left;
        color: aliceblue;
        padding-left: 20px;
    }
    nav {
        padding: 20px;
        float:right;
        color: azure;
    }
    li a {
        text-decoration: none;
        cursor: pointer;
        color: white;
    }

    ul  {
        list-style-type: none;
    }

    li  {
        color: aliceblue;
        display: inline;
        padding-right: 50px;
    }

    #button_name {
        border-radius: 10px;
    }

main {
    width: 70%;
    position: absolute;
    top: 700px;
    left: 600px;
    margin-top: -100px;
    z-index: -1;
    margin-left: -535px;
    background-color: white;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 
    0 2px 10px 0 rgba(0,0,0,0.12);
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    padding: 0;
  }
  
    /* Style the buttons inside the tab */
    .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    }

    /* Change background color of buttons on hover */
    .tab button:hover {
    background-color: #ddd;
    }

    /* Create an active/current tablink class */
    .tab button.active {
    background-color: #ccc;
    }

    /* Style the tab content */
    .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    }

article {
    padding: 20px;
}
#subjects {     
    flex-flow: wrap;
    display: inline-flex;
}
    details {
        padding: 10px;
    }
    summary {
        padding: 4px;
    }
    label {

    }

img {
    max-width: 100%;
}

footer {
    position: fixed;
    color: white;
    bottom: 0%;
    height: 4%;
    text-align: center;
    width: -webkit-fill-available;
    background-color: black;
}
